<ion-content>
  <div class="lock_circle">
    <ion-icon src="../../../assets/images/General/_ionicons_svg_md-checkmark.svg" alt=""></ion-icon>
  </div>
  <h3 class="title ion-text-center">Your appointment booking <br> is successfully.</h3>
  <p class="description ion-text-center">You can view the appointment booking info <br> in the
    <span>“Appointment”</span> section.</p>
  <ion-button class="btn-done ion-text-capitalize" mode="md" expand="full" shape="round" fill="solid"
    (click)="continueBooking()">
    Continue Booking
  </ion-button>
  <ion-button class="btn-go" mode="md" size="small" expand="block" fill="clear" (click)="gotoAppoinment()">
    Go to appointment
  </ion-button>
</ion-content>