<ion-content>
  <div class="lock_circle">
    <ion-icon src="../../../assets/images/General/noun_passcode_975430.svg"></ion-icon>
  </div>
  <h3 class="title ion-text-center">Code has been sent to reset <br> a new password.</h3>
  <p class="description ion-text-center">You’ll shortly receive an email with a code <br> to setup a new password.</p>
  <ion-button class="btn-done ion-text-capitalize" mode="md" expand="full" shape="round" fill="solid" (click)="done()">
    Done
  </ion-button>
</ion-content>