<ion-header no-border>
    <ion-toolbar>
        <ion-row class="ion-padding ion-margin-top">
            <ion-col size="12" class="ion-text-center">
                <img src="../../../assets/Group 6613.png"><br>
                <ion-text class="head">Your appointment booking is successful</ion-text>
            </ion-col>
        </ion-row>
        <ion-row class="ion-padding-start ion-padding-end">
            <ion-col size="12" class="ion-padding-start ion-padding-end">
                <ion-button class="btn-continue" mode="md" expand="block" (click)="continue()">
                    Continue Booking
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>