<ion-header no-border class="ion-padding">
    <ion-toolbar>
        <div class="name-part">
            <h2 class="username">Hello, John Doe</h2>
            <ion-icon src="../../assets/my_custom/Path 5.svg"></ion-icon>
        </div>

        <div class="location-part">
            <span>Your location</span>
            <div class="inline">
                <h2 class="city_name">
                    <ion-icon src="../../assets/my_custom/ic_location.svg"></ion-icon> Wembley London
                </h2>
                <ion-button class="txtBtn" fill="clear">
                    <ion-icon src="../../assets/my_custom/ic_direction.svg"></ion-icon> Change </ion-button>
            </div>
        </div>

        <ion-searchbar placeholder="Search salon, spa & barber services…" mode="ios"></ion-searchbar>

    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <div class="headers">
        <h2 class="heading">
            Top services
        </h2>
        <ion-button class="txtBtn viewbtn" fill="clear">
            View all
        </ion-button>
    </div>

    <div class="serviceWrapper">
        <div class="services">
            <img src="../../assets/my_custom/services/ser1.svg">
            <h2>Haircut</h2>
            <p>126 Places</p>
        </div>

        <div class="services">
            <img src="../../assets/my_custom/services/ser1.svg">
            <h2>Haircut</h2>
            <p>126 Places</p>
        </div>

        <div class="services">
            <img src="../../assets/my_custom/services/ser1.svg">
            <h2>Haircut</h2>
            <p>126 Places</p>
        </div>

        <div class="services">
            <img src="../../assets/my_custom/services/ser1.svg">
            <h2>Haircut</h2>
            <p>126 Places</p>
        </div>

        <div class="services">
            <img src="../../assets/my_custom/services/ser1.svg">
            <h2>Haircut</h2>
            <p>126 Places</p>
        </div>
    </div>

</ion-content>