<ion-header no-border>
  <ion-toolbar>
    <ion-title>Share to</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-no-padding">
    <ion-col size="4" class="ion-no-padding ion-text-center">
      <img class="share-option-img" src="../../../assets/images/share/contact.png" alt="">
      <p class="type-label">Friends</p>
    </ion-col>
    <ion-col size="4" class="ion-no-padding ion-text-center">
      <img class="share-option-img" src="../../../assets/images/share/facebook.png" alt="">
      <p class="type-label">Facebook</p>
    </ion-col>
    <ion-col size="4" class="ion-no-padding ion-text-center">
      <img class="share-option-img" src="../../../assets/images/share/messanger.png" alt="">
      <p class="type-label">Messenger</p>
    </ion-col>
  </ion-row>
  <ion-row class="ion-no-padding">
    <ion-col size="4" class="ion-no-padding ion-text-center">
      <img class="share-option-img" src="../../../assets/images/share/message.png" alt="">
      <p class="type-label">Message</p>
    </ion-col>
    <ion-col size="4" class="ion-no-padding ion-text-center">
      <img class="share-option-img" src="../../../assets/images/share/email.png" alt="">
      <p class="type-label">Email</p>
    </ion-col>
    <ion-col size="4" class="ion-no-padding ion-text-center">
      <img class="share-option-img" src="../../../assets/images/share/pintrest.png" alt="">
      <p class="type-label">Pinterest</p>
    </ion-col>
  </ion-row>
</ion-content>