<ion-tabs mode="ios">
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon src="../../assets/images/tabs/home.svg"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="nearBy">
            <ion-icon src="../../assets/images/tabs/place.svg"></ion-icon>
            <ion-label>Near by</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="appoinment">
            <ion-icon class="calendar-icon" src="../../assets/images/tabs/event.svg"></ion-icon>
            <ion-label>Appoint.</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="notification">
            <ion-icon src="../../assets/images/tabs/chat.svg"></ion-icon>
            <ion-label>Notification</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="profile">
            <ion-icon src="../../assets/images/tabs/profile.svg"></ion-icon>
            <ion-label>Profile</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>