<ion-header no-border>
  <ion-toolbar>
    <ion-title class="ion-text-center">Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let item of [1,2,3,4,5,6,7]">
    <ion-avatar slot="start">
      <img src="http://placehold.it/40x40" alt="">
    </ion-avatar>
    <ion-label>
      <h2 class="title">Complete
        <span class="time-ago ion-float-right">2 Day Ago</span>
      </h2>
      <p class="detail">Service Complete Successfully</p>
    </ion-label>
  </ion-item>
</ion-content>