<ion-header no-border>
  <ion-toolbar>
    <ion-buttons>
      <ion-button fill="clear" mode="md" (click)="backPage()">
        <ion-icon src="../../../assets/images/General/noun_Arrow_1256499.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title ion-text-center">Forgot password</h1>
  <p class="content ion-text-center">Please enter your email address. You will <br> receive a code to create a new
    password <br> via email.</p>
  <form>
    <ion-input placeholder="Your email address" name="email" [(ngModel)]="email" type="text"></ion-input>
    <ion-button class="btn-forgot" mode="md" expand="full" shape="round" fill="solid" (click)="resetPassword()">
      Reset password
    </ion-button>
  </form>
</ion-content>